.App {
  text-align: center;
}

body {
  background-color: white;
}

.yesNoContainer {
  padding-top: 10%;
  /* align-items: center; */
  height: 50px;
  width: 100px;
}

.yesNoContainer:hover {
  border: 2px solid grey;
  font-size: 0px;
  opacity: 50%;
}

.resetGame-button {
  border: 1px solid black;
  border-radius: 10%;
  color: white;
  background-color: grey;
}
.select-frame {
  align-items: center;
}

.displayHolesContainer {
  display: inline;
  border-radius: 100%;
  border: 1px solid grey;
  height: 20px;
  width: 20px;
  align-items: center;
  font-size: 0px;
  flex-direction: column;
  padding: 20px;
  line-height: 60px;
  margin-right: 10px;
}

.displayHolesContainerRed {
  display: inline;
  border-radius: 100%;
  border: 1px solid black;
  background-color: red;
  height: 20px;
  width: 20px;
  align-items: center;
  font-size: 0px;
  flex-direction: column;
  padding: 20px;
  line-height: 60px;
  margin-right: 10px;
}

.displayHolesContainerYellow {
  display: inline;
  border-radius: 100%;
  border: 1px solid black;
  background-color: yellow;
  height: 20px;
  width: 20px;
  align-items: center;
  font-size: 0px;
  flex-direction: column;
  padding: 20px;
  line-height: 60px;
  margin-right: 10px;
}

h1,
h2 {
  display: inline;
  color: black;
}
.title-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 100%;
  padding-left: 0%;
}

.row-container {
  width: 100%;
  align-items: center;
}

.board-frame {
  translate: 0% -105%;
}

.selectColumn-button {
  border: 0px solid yellow;
  font-size: 0px;
  opacity: 100%;
}

.selectColumn-button:hover {
  border: 2px solid grey;
  font-size: 0px;
  opacity: 50%;
}

@media (min-width: 725px) {
  .selectColumn-button {
    background-color: white;
    height: 425px;
    width: 50px;
  }
}

@media (max-width: 1280px) {
  .selectColumn-button {
    background-color: white;
    height: 425px;
    width: 52px;
  }
}
