.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.displayHolesContainer {
  display: inline;
  border-radius: 100%;
  border: 1px solid grey;
  height: 20px;
  width: 20px;
  align-items: center;
  font-size: 0px;
  flex-direction: column;
  padding: 20px;
  line-height: 60px;
  margin-right: 10px;
}

.displayHolesContainerRed {
  display: inline;
  border-radius: 100%;
  border: 1px solid red;
  height: 20px;
  width: 20px;
  align-items: center;
  font-size: 0px;
  flex-direction: column;
  padding: 20px;
  line-height: 60px;
  margin-right: 10px;
}

.displayHolesContainerYellow {
  display: inline;
  border-radius: 100%;
  border: 1px solid yellow;
  height: 20px;
  width: 20px;
  align-items: center;
  font-size: 0px;
  flex-direction: column;
  padding: 20px;
  line-height: 60px;
  margin-right: 10px;
}

.selectColumn-button {
  display: inline;
  color:yellow;
  border: 0px solid yellow;
  height: 425px;
  width: 65px;
  align-items: center;
  font-size: 0px;
  flex-direction: column;
  line-height: 60px;
  margin-right: 10px;
  opacity:0%;
}

.selectColumn-button:hover {
  display: inline;
  color:yellow;
  border: 0px solid yellow;
  height: 425px;
  width: 65px;
  align-items: center;
  font-size: 0px;
  flex-direction: column;
  line-height: 60px;
  margin-right: 10px;
  opacity:20%;
}

h1,h2 {
  display: inline;
  color: black;
}
.title-frame{
  display:flex;
  flex-direction:column;
  align-items:center;
  opacity:100%;
  padding-left:0%;
}

.row-container{
  display:flex;
  /* height:100px; */
  width:100%;
  align-items:center;
}

.select-frame{
  opacity:100%;
  margin-right:2%;
}

.board-frame{
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  align-items:center;
  opacity:100%;
  padding: 0% 30%;
  translate: 0% -105%;
}